.App {
  text-align: center;
}
body {
  background-color: #aae9e9;
}
button {
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 25px;
  /* color: #ffffff; */
  background-color: #f5daa7;
  border: 0.1rem solid black;
}
button:hover {
  background-color: #d4d4d4b6;
}
button:active {
  box-shadow: 3px 3px;
}
